
{namespace examples}

/**
 * @param str
 */
{template .exampleSubstring}
  Yeah, {substring($str, 2, 4)} !!!
{/template}

/**
 * @param num
 */
{template .exampleFormatNumberWithComma}
  Pay {formatNumberWithComma($num)} dollars!
{/template}
